font-family: 'Source Sans Pro', sans-serif;

.vlee-dark-blue{
    color: #3D5A80;
}

.vlee-mid-blue{
    color: #98C1D9 !important;
}

.vlee-light-blue{
    color: #E0FBFC;
}

.vlee-red{
    color: #EE6C4D;
}

.vlee-mid-dark-blue{
    color: #0D47A1;
}

.vlee-dark-grey{
    color: #293241;
}

.vlee-mid-blue-background{
    background-color: #98C1D9 !important;
}

.vlee-light-blue-background{
    background-color: #E0FBFC;
}

.vlee-dark-blue-background{
    background-color: #293241;
}


.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.about-me{
    background-color: #3D5A80 !important;
    margin: 0%;
    width: 100%;
}

.profile{
    border-radius: 50%;
}

#main{
    padding: 0;
}

footer{
    background-color: #98C1D9;
    alignment: center;
    text-align: center;
    display: inline-block;
}

.icon-2x{
    font-size: 32px;
}

#subtext{
    background-color: black;
    opacity: 0.8;
}

#projects{
    width: 100%;
}

.project-item{
    padding-bottom: 5%;
    padding-top: 5%;
}

#jam-worksheet{
    background: rgba(255, 255, 255, 0.9) url("https://pbs.twimg.com/media/DrqWjY-X4AAAJ07.jpg:large") center;
    background-blend-mode: lighten;
}
#jam-worksheet:hover{
    background: rgba(255, 255, 255, 0.5) url("https://pbs.twimg.com/media/DrqWjY-X4AAAJ07.jpg:large") center;
    background-blend-mode: lighten;
}

#splatstats{
    background: rgba(255, 255, 255, 0.8) url("https://splatstats.ink/assets/images/2018022121321500-397a963da4660090d65d330174ac6b04-1280x720.jpg") no-repeat center;
    background-blend-mode: lighten;
    background-size: cover;
}

#scriptor{
    background: rgba(255, 255, 255, 0.8) url("http://ac11002.vlee.me.uk/assets/images/Header1.jpg") no-repeat center;
    background-blend-mode: lighten;
    background-size: cover;
}

#splatnet2-reverse{
    background: rgba(255, 255, 255, 0.8) url("https://external-preview.redd.it/8jjug6CO1uOJ0woWx9VdrqUnjTTS9FkvyCedSzaPZxs.png?auto=webp&s=9af2e752c471444511336f801715ef301d5c42be") no-repeat center;
    background-blend-mode: lighten;
    background-size: cover;
}

#strings{
    background: rgba(255, 255, 255, 0.8) url("http://ac11002.vlee.me.uk/assets/images/header.PNG") no-repeat center;
    background-blend-mode: lighten;
    background-size: cover;
}

#splatstats:hover{
    background: rgba(255, 255, 255, 0.4) url("https://splatstats.ink/assets/images/2018022121321500-397a963da4660090d65d330174ac6b04-1280x720.jpg") no-repeat center;
    background-blend-mode: lighten;
    background-size: cover;
}

#scriptor:hover{
    background: rgba(255, 255, 255, 0.4) url("http://ac11002.vlee.me.uk/assets/images/Header1.jpg") no-repeat center;
    background-blend-mode: lighten;
    background-size: cover;
}

#splatnet2-reverse:hover{
    background: rgba(255, 255, 255, 0.4) url("https://external-preview.redd.it/8jjug6CO1uOJ0woWx9VdrqUnjTTS9FkvyCedSzaPZxs.png?auto=webp&s=9af2e752c471444511336f801715ef301d5c42be") no-repeat center;
    background-blend-mode: lighten;
    background-size: cover;
}

#strings:hover{
    background: rgba(255, 255, 255, 0.4) url("http://ac11002.vlee.me.uk/assets/images/header.PNG") no-repeat center;
    background-blend-mode: lighten;
    background-size: cover;
}

.pop{
    text-shadow: 0 1px black;
}

#contact-about{
    vertical-align: center;
}

.text-center{
    margin-top: 10%;
    vertical-align: center;

}

a:hover{
    color: #293241;
}